@import url(http://fonts.googleapis.com/css?family=Open+Sans);

a {
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #666;
}

body {
    margin: 0 auto 0 auto;
    padding: 5px;
    width: 600px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
}

body h1 {
    margin: 0;
    font-family: "Open Sans", serif;
    font-size: 24pt;
    padding-bottom: 5px;
}

body p {
    text-align: justify;
}

#footer, #footer p {
    font-size: 8pt;
    text-align: center;
}

code {
    font-family: monospace;
    font-size: 10pt;
}
